


h1
{
	font-family: 'Lora', serif;
	font-size: 50px;
}

h2
{ 
	font-family: 'Roboto', sans-serif;
	font-size: 35px; 
} 

.header 
{
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
}

.column.left {
	width: 10%;
} 

.column.middle {
	width: 60%;
}

.column.right {
	width: 30%;
} 